html {
    font-family: Consolas, monaco, monospace;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: Consolas, monaco, monospace;
}

.container-fluid {
    height: 100vh;
}

.row {
    height: 100vh;
}

p {
    margin-bottom: 0;
}

.sidebar {
    background-color: #4472C4;
    padding: 0px !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

.card-header {
    border: none;
    padding: 10px;
    background-color: #fff;
    border-radius: 0;
    color: #000;
}

.card-body {
    background-color: #4472C4;
    padding: 15px 0 15px 0;
    color: #fff;
}

.card {
    border: none;
    border-radius: 0;
    color: #000;
    border-top: 1px solid #4472C4;
}

.card-link {
    color: #000;
}

.btn-console {
    border: 0;
    color: #4472C4;
    background-color: #fff;
    text-align: center;
    border-radius: 0;
    font-size: 0.8em;
    font-family: Consolas, monaco, monospace;
    white-space: normal;
    margin: 15px;
}

.btn-disabled {
    opacity: 0.25;
    pointer-events: none;
    cursor: default;
}

ul {
    padding-inline-start: 30px;
    margin-bottom: 0;
    font-size: 0.8em;
    list-style-type: none;
}

.console-list li:before {
    content: '\0024';
    margin-left: -20px;
    margin-right: 12px;
}

.console-list li {
    padding-bottom: 10px;
    padding-right: 10px;
}

#drop_zone {
    border: 1px dashed white;
    text-align: center;
    font-size: 0.8em;
    font-family: Consolas, monaco, monospace;
    white-space: normal;
    padding: 5px;
    margin: 10px;
}

.console-box {
    border: 1px dashed white;
    text-align: center;
    font-size: 0.8em;
    font-family: Consolas, monaco, monospace;
    white-space: normal;
    padding: 5px;
    margin: 10px;
}

.console-link {
    text-align: center;
    color: #fff;
    text-size-adjust: 0.8em;
}

progress {
    /* RESETS */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    /*width: 300px;*/
    /*height: 15px;*/
    border-radius: 0;
    background-color: #4472C4;
    color: rgb(255, 255, 255);
}

/* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
progress::-webkit-progress-bar {
    background-color: #4472C4;
    border-radius: 0;
}

progress::-webkit-progress-value {
    background-color: rgb(255, 255, 255);
    border-radius: 0;
}

/* MOZILLA FIREFOX */
progress::-moz-progress-bar {
    background-color: rgb(68, 114, 196);
    border-radius: 0;
}

#footer-about {
    position: absolute;
    width: 100%;
    text-align: center;
    border-top: 1px solid #fff;
    height: 40px;
    bottom: 0px;
}

.tuto-img {
    width: 50%;
    max-height: 500px;
    padding-top: 5px;
    transition: transform .2s; /* Animation */
}



.tuto-list {
    padding-top: 30px;
}

.content-container {
    overflow: scroll;
    overflow-x: hidden;
    height: 100vh;
    white-space: normal;
    padding: 20px;
}
